@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body{
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    margin: 0;
}
.flixbel-contaner{
    margin-bottom: 150px;
    display: flex;
}
.banner{
    overflow: hidden;
    background: url(imges/first-banner.png);
    background-repeat: no-repeat;    
}
.Dream-Big{
    overflow: hidden;
    background: url(imges/secend-banner.png);
    background-repeat: no-repeat;
    background-position: right;
}
.Experiences{
    background: url(imges/exp-bg.png);
    background-repeat: no-repeat;
    background-position:center left;

}
h1{
    font-size: 50px;
}
h2{
    font-size: 40px;
}
.adbanc-color{
    color: orange;
}
.left-sit-contane {
    width: 40%;
    
    margin-left: 5%;
    padding-left: 2%;
}

.right-sit-imge {
    width: 40%;
   
    margin-left: 5%;
    padding-left: 2%;
}
p {
    color: #615f5f;
}

.right-sit-imge img {
    width: 100%;
}
a.button-hear {
    padding: 10px 40px;
    background: linear-gradient(45deg, lightsalmon, tomato);
    border-radius: 5px;
    color: #fff;
    font-weight: 700;
    text-decoration: none;
}

.Experiences-full-stap {
    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
    box-shadow: 5px 10px 40px gray;
    padding-left: 20px;
    border-radius: 5px;
}

.Experiences-full-stap h3 {
    color: orange;
}
.left-Experiences{
    border-left: 7px solid;
   border-image: linear-gradient(180deg , lightsalmon, tomato);
   border-image-slice: 1;
   height: 400px ;
 

}
.right-Experiences{
    border-left: 7px solid ;
    border-image: linear-gradient(blue,cyan);
    border-image-slice: 1;
    height: 400px ;

}
footer p{
    text-align: center;
}